voice/sherpa*
starry/wiki.zim
starry/model.onnx
voice/sherpa_model
voice/sherpa_kws
starry/model.onnx
voice/a*
voice/b*
voice/c*
voice/d*
voice/e*
voice/f*
voice/g*
voice/h*
voice/i*
voice/j*
voice/k*
voice/m*
voice/n*
voice/o*
voice/p*
voice/q*
voice/r*
voice/s*
voice/t*
voice/u*
voice/v*
voice/w*
voice/x*
voice/y*
voice/z*
voice/zipformer*
config.json